*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    max-width: 100%;
}

.col{
    padding:0.7em;
}

#sideBarNav{
    padding: 0.5em;
}
#topbar{
    border-bottom:3px #1061a0 solid;
}
#logo{
    width: 200px;
    height: auto;
}