*{
    margin: 0;
    padding: 0;
}
 
body{
    width: 100vw;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
}

#main-content{
    min-height: 100%;
    height: 100%;
}
#sidebar{
    border-right:3px #1061a0 solid;
    position: fixed;
    height: 100%;
}

#navbarNav{
    width: 100%;
}
#navbarNav > *{
    width: 100%;
}
#navbarNav .nav-item{
    font-size: 4.5vh;
    width:100%;
    padding-left: 0.7vw;
}
#navbarNav .nav-item:hover{
    background: #1061a044;
}
#navbarNav .nav-item.active{
    background: #1061a044 !important;
}

#logo{
    width: 100%;
    min-height: auto;
}

#tableOpenDay{
    border: 1px solid #a3a3a3;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;  
}
#tableHead>div:nth-child(-n+2){
    border-right: 1px solid #a3a3a3;
}
.tableRow > *{
    vertical-align: middle;
    border-bottom: 1px solid #a3a3a3;
}
.tableRow>div:nth-child(-n+2){
    border-right: 1px dashed #a3a3a3;
}
.btn{
    margin:0px 5px;
}

#aggiungiModal>.modal-dialog{
    max-width: 700px !important;
}

#presenzeModal>.modal-dialog{
    max-width: 800px !important;
}

#containerTablePresenze{
    max-height: 350px;
    overflow: auto;
    border: 1px solid #a3a3a3;
}



@media only screen and (max-width: 768px){
    #sidebar {
      position: static;
      border-right: none;
      border-bottom: 3px #1061a0 solid;
    }
    #logo{
        width: 200px;
    }
    .tableRow>div:nth-child(-n+2){
        border-bottom-style: dashed;
        border-right: none;
    }
}